.header {
  border-bottom: 1px solid var(--header-border-color);
  &__container {
    display: flex;
    align-items: center;
  }
}

.nav {
  margin-left: 93px;
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--tittle-text-color);

    transition: color 250ms var(--timing-function);
  }
  &__link.current::after {
    position: absolute;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__link.current {
    color: var(--accent-color);
  }
}

/* ----------- contacts-list ------------*/
.contacts {
  display: flex;
  margin-left: auto;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);

    transition: color 250ms var(--timing-function);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
